*{
  margin: 0;
  padding: 1px;
  outline: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
body{
  display: flex;
  align-items: center;
  justify-content: center;  
  min-height: 100vh;
  background: url(fondo.jpg); /*-webkit-linear-gradient(bottom, #0250c5, #d43f8d);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 600px;
  background: #fff;
  border-radius: 7px;
  text-align: center;
  padding: 30px 35px 0 35px;
}

.container header{
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.btn-cancelar{
  width: 70px;
  height: 70px;
  padding: 10px 10px;
  background: #0E2C48;
  color: white;
  border-radius: 40%;
  border: 4px solid #0E2C48;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  top: -320px;
  right: -680px;
}

a{
  text-decoration: none;
}

.container .form-princ{
  width: 100%;
  overflow: hidden; /*comentar para ver los cambios*/
}

.form-princ form{
  display: flex;
  width: 400%;
}

.form-princ form .pagina{
  width: 25%;
  transition: margin-left 0.4s ease-in-out;
}

.form-princ form .pagina .titulo{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.form-princ form .pagina .campo{
  height: 35px;
  width: 350px;
  margin: 40px 0;
  display: flex;
  position: relative;
}

.form-princ form .pagina .campo .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
  font-size: 14px;
  float: left;	
  text-align: left;
  width: 99%;
}

.form-princ form .pagina .campo input{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  /*Opcional si se quiere dejar todo en mayúsculas
  text-transform:uppercase;*/
}

form .pagina .campo select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.form-princ form .pagina .campo button{
  width: 100%;
  height: calc(100% + 5px);
  margin-top: -20px;
  border: none;
  background: #0E2C48;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-princ form .pagina .campo button:hover{
  background: #DA2A33;
}

.form-princ form .pagina .btns button{
  margin-top: -20px!important;
}

form .pagina .btns button.volver{
  margin-right: 3px;
  font-size: 17px;
}

form .pagina .btns button.adelante{
  margin-left: 3px;
}

.container .progress-bar{
  display: flex;
  margin: 40px 0;
}

.container .progress-bar .paso{
  text-align: center;
  width: 100%;
  position: relative;
}

.progress-bar .paso p{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
  transition: 0.2s;
}

.progress-bar .paso p.active{
  color: #DA2A33;
}

.progress-bar .paso .num{
  position: relative;
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s;
}

.progress-bar .paso .num.active{
  border-color: #DA2A33;
  background: #DA2A33;
  color: #fff;
}

.progress-bar .paso:last-child .num:before,
.progress-bar .paso:last-child .num:after{
  display: none;
}

.progress-bar .paso .num:before,
.progress-bar .paso .num:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -115px;
  height: 3px;
  width: 105px;
  background: #0E2C48; /*cpmentar esto para ver el cambio*/
}

.progress-bar .paso .num.active:after{
  background: #DA2A33;
  animation: animate 0.3s linear /*infinite*/ forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.progress-bar .paso .num span{
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .paso .num.active span{
  display: none;
}

.progress-bar .paso .check{
  /*display: none;*/
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%,-50%);
  display: none;
}

.progress-bar .paso .check.active{
  display: block;
  color: #fff;
}

.error{
  color: #DA2A33;
  float: right;	
  text-align: right;
}

/* para visualizar la contraseña */
.eyes{
  position: absolute;
  top: 29%;
  right: 7px;
  font-size: 18px;
  color: #0E2C48;
}

#ocultar{
  display: none;
  color: #DA2A33;
}

#mostrar, #ocultar{
  cursor: pointer;
}
